In [98]:
from scipy import sparse
import numpy as np
import networkx as nx
import pandas as pd
기본경로=r"C:/Users/user/Desktop/정상회담_트위터_분석/"

In [99]:
#대상 ='27일'
대상 ='28일'

In [100]:
정상회담_27일 = pd.read_excel(기본경로 + '데이터정제/3차정상회담/'+대상+'/'+대상+'_데이터.xlsx')
정상회담_27일.head()

,원본인덱스,날짜,아이디,내용,좋아요,리트윗_원본텍스트,리트윗아이디들,언급아이디,발화자,수화자
0,1_28,2018-04-28 23:59:52,silkcobra53,"RT @kju7154: 남북 정상회담, 우리를 웃게 만든 비하인드 장면 3가지\nh...",0,"남북 정상회담, 우리를 웃게 만든 비하인드 장면 3가지\nhttps://t.co/p...",RT @kju7154,NaN,kju7154,silkcobra53
1,2_28,2018-04-28 23:59:49,Tteure_Just,RT @d_itwalla0ws: 이번 정상회담 잘 풀린 거 너무 기쁜데 그거랑 별개...,0,"이번 정상회담 잘 풀린 거 너무 기쁜데 그거랑 별개로 트위터 분위기가,,, 먼 김정...",RT @d_itwalla0ws,NaN,d_itwalla0ws,Tteure_Just
2,3_28,2018-04-28 23:59:49,D72BsfAM8FKUDlx,RT @toto8688: 북한기자들 큰 웃음 주고갔네 ㅋ<f0><U+009F><U+...,0,북한기자들 큰 웃음 주고갔네 ㅋ<f0><U+009F><U+0098><U+008B><...,RT @toto8688,NaN,toto8688,D72BsfAM8FKUDlx
3,4_28,2018-04-28 23:59:49,eunsu0521,"RT @yonhaptweet: 로이터 ""트럼프, 북미정상회담 3~4주 내 개최 시사...",0,"로이터 ""트럼프, 북미정상회담 3~4주 내 개최 시사""(속보) https://t.c...",RT @yonhaptweet,NaN,yonhaptweet,eunsu0521
4,5_28,2018-04-28 23:59:47,BackToTheBasicc,RT @Schalom1004: ㅋㅋㅋㅋ\n\n정상회담 반대를 외치며려고 광장 나왔지...,0,ㅋㅋㅋㅋ\n\n정상회담 반대를 외치며려고 광장 나왔지만.재항군인회 5000명이 마음...,RT @Schalom1004,NaN,Schalom1004,BackToTheBasicc

In [101]:
정상회담_27일_모든노드 = 정상회담_27일.발화자.tolist()
정상회담_27일_모든노드.extend(정상회담_27일.수화자.tolist())
정상회담_27일_모든노드 =list(set(정상회담_27일_모든노드))[1:]
노드수 = len(정상회담_27일_모든노드)
노드수

40300

In [102]:
노드사전_번호키 = dict((count,노드) for count, 노드 in enumerate(정상회담_27일_모든노드))
노드사전_이름키 = dict((노드,count) for count, 노드 in enumerate(정상회담_27일_모든노드))

In [103]:
엣지리스트 = 정상회담_27일[['발화자','수화자']].copy()
엣지리스트['발화자_사전'] = 엣지리스트.발화자.fillna('---').apply(lambda x : 노드사전_이름키[x] if x!='---' else None)
엣지리스트['수화자_사전'] = 엣지리스트.수화자.fillna('---').apply(lambda x : 노드사전_이름키[x] if x!='---' else None)
엣지리스트['값'] = 1

In [104]:
COO_매트릭스 =엣지리스트[['발화자_사전','수화자_사전','값']].groupby(['발화자_사전','수화자_사전']).count().reset_index().copy()
COO_매트릭스 = COO_매트릭스.dropna()
COO_매트릭스 = COO_매트릭스.astype(np.int64)
COO_매트릭스.head()

   발화자_사전  수화자_사전  값
0      47    6676  1
1      47   18455  1
2      47   27634  1
3      47   31213  1
4      47   34070  1

In [105]:
S = sparse.coo_matrix((노드수, 노드수), dtype=np.uint8)
S

<40300x40300 sparse matrix of type '<class 'numpy.uint8'>'
	with 0 stored elements in COOrdinate format>

In [106]:
S =sparse.coo_matrix((COO_매트릭스.값.tolist(), (COO_매트릭스.발화자_사전.tolist(), COO_매트릭스.수화자_사전.tolist())),shape=(노드수,노드수))
S

<40300x40300 sparse matrix of type '<class 'numpy.int32'>'
	with 66705 stored elements in COOrdinate format>

In [107]:
sparse.save_npz(기본경로+'데이터정제/3차정상회담/'+대상+'/'+대상+'_인접행렬.npz',S)

In [108]:
G = nx.from_scipy_sparse_matrix(S,create_using=nx.DiGraph())

In [109]:
#제대로 저장됐나 확인
확인 = list(G.edges())
대상 =엣지리스트[['발화자_사전','수화자_사전']].dropna().values.tolist()

대상_튜플 = list()
for i,j in 대상:
    대상_튜플.append((i,j))
print(len(set(확인) -set(대상_튜플)))
print(len(set(대상_튜플)- set(확인)))

0
0

총합

In [116]:
정상회담= pd.read_excel(기본경로 + '데이터정제/3차정상회담/총합/3차_총_데이터.xlsx')
정상회담.head()

,원본인덱스,날짜,아이디,내용,좋아요,리트윗_원본텍스트,리트윗아이디들,언급아이디,발화자,수화자
0,1_27,2018-04-27 23:59,frre_0328,RT @moonriver365: 오늘 판문점 평화의 집에서 김정은 국무위원장과 정상...,0,오늘 판문점 평화의 집에서 김정은 국무위원장과 정상회담을 갖고 판문점선언에 서명한 ...,RT @moonriver365,NaN,moonriver365,frre_0328
1,2_27,2018-04-27 23:59,DO___mnr12,RT @moonriver365: 오늘 판문점 평화의 집에서 김정은 국무위원장과 정상...,0,오늘 판문점 평화의 집에서 김정은 국무위원장과 정상회담을 갖고 판문점선언에 서명한 ...,RT @moonriver365,NaN,moonriver365,DO___mnr12
2,3_27,2018-04-27 23:59,3Yve1O3lzJ7isGk,RT @Bulloger: 4.27정상회담선언에 대한 미중러및 세계의 지지에 일본조차...,0,4.27정상회담선언에 대한 미중러및 세계의 지지에 일본조차 마지 못해 참여하는데 홍...,RT @Bulloger,NaN,Bulloger,3Yve1O3lzJ7isGk
3,4_27,2018-04-27 23:59,ltg2001,"RT @s17221: 초라한 정상회담 반대 목소리, 지나가는 시민도 '외면'\n h...",0,"초라한 정상회담 반대 목소리, 지나가는 시민도 '외면'\n https://t.co/...",RT @s17221,NaN,s17221,ltg2001
4,5_27,2018-04-27 23:59,daybreaksplit,"RT @newstapa: ""미국도 한반도 분단의 책임이 있는데, 미국 언론은 강경파...",0,"""미국도 한반도 분단의 책임이 있는데, 미국 언론은 강경파만 취재한다""\n\n이제 ...",RT @newstapa,NaN,newstapa,daybreaksplit

In [117]:
정상회담_모든노드 = 정상회담.발화자.tolist()
정상회담_모든노드.extend(정상회담.수화자.tolist())
정상회담_모든노드 =list(set(정상회담_모든노드))[1:]
노드수 = len(정상회담_모든노드)
노드수

92555

In [118]:
노드사전_번호키 = dict((count,노드) for count, 노드 in enumerate(정상회담_모든노드))
노드사전_이름키 = dict((노드,count) for count, 노드 in enumerate(정상회담_모든노드))

In [119]:
엣지리스트 = 정상회담[['발화자','수화자']].copy()
엣지리스트['발화자_사전'] = 엣지리스트.발화자.fillna('---').apply(lambda x : 노드사전_이름키[x] if x!='---' else None)
엣지리스트['수화자_사전'] = 엣지리스트.수화자.fillna('---').apply(lambda x : 노드사전_이름키[x] if x!='---' else None)
엣지리스트['값'] = 1

In [120]:
COO_매트릭스 =엣지리스트[['발화자_사전','수화자_사전','값']].groupby(['발화자_사전','수화자_사전']).count().reset_index().copy()
COO_매트릭스 = COO_매트릭스.dropna()
COO_매트릭스 = COO_매트릭스.astype(np.int64)
COO_매트릭스.sort_values('값',ascending=False).head()

        발화자_사전  수화자_사전   값
196022   92524   89724  32
155046   59307   46912  16
155595   59307   77115  13
104037   32463   61976  12
60204    13345   13345  12

In [121]:
S = sparse.coo_matrix((노드수, 노드수), dtype=np.int32)
S

<92555x92555 sparse matrix of type '<class 'numpy.int32'>'
	with 0 stored elements in COOrdinate format>

In [122]:
S =sparse.coo_matrix((COO_매트릭스.값.tolist(), (COO_매트릭스.발화자_사전.tolist(), COO_매트릭스.수화자_사전.tolist())),shape=(노드수,노드수))
S

<92555x92555 sparse matrix of type '<class 'numpy.int32'>'
	with 196095 stored elements in COOrdinate format>

In [125]:
sparse.save_npz(기본경로+'데이터정제/3차정상회담/총합/3차_총_인접행렬.npz',S)

In [126]:
G = nx.from_scipy_sparse_matrix(S,create_using=nx.DiGraph())

In [127]:
#제대로 저장됐나 확인
확인 = list(G.edges())
대상 =엣지리스트[['발화자_사전','수화자_사전']].dropna().astype(np.int32).values.tolist()

대상_튜플 = list()
for i,j in 대상:
    대상_튜플.append((i,j))
print(len(set(확인) -set(대상_튜플)))
print(len(set(대상_튜플)- set(확인)))

0
0